.fonttitlep{
	font-family: 'Spicy Rice', cursive;
	font-size: 35px;
	font-weight: bold;
	-webkit-text-fill-color: #6BCCED;
	-webkit-text-stroke: 1px #170909;	
}
/*panel de control*/
.fontGhoti{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #1F1010;
	border-radius: 10px 200px 200px 0px;
	-moz-border-radius: 10px 200px 200px 0px;
	-webkit-border-radius: 10px 200px 200px 0px;
	border: 0px solid #000000;
	text-align: left;
}
/*Tabla de resultados*/
.tableth{
	background-color: #42B9D3;
	color:#F5F5F6;
}
/*Subir el banner*/
.subir{
	margin-top: -25px;
}
/*subir menu*/
.subir2{
	margin-top: -16px;
}
/*Fondo del sistema*/
.background{
	background-color: #EBEBEB;
}
/*Boton añadir*/
.botonanadir{
	border-radius: 200px 0px 200px 124px;
	-moz-border-radius: 200px 0px 200px 124px;
	-webkit-border-radius: 200px 0px 200px 124px;
	border: 0px solid #000000;
}
/*Boton ejecutar función*/
.botonejecutarfuncion{
	border-radius: 200px 0px 189px 0px;
	-moz-border-radius: 200px 0px 189px 0px;
	-webkit-border-radius: 200px 0px 189px 0px;
	border: 0px solid #000000;
}
/*Botones funciones*/
.botonfunciones{
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	border: 0px solid #000000;
}
/*Color Menu*/
.menuA{
	
}
.menuAl{

}
.menuI{
}
.menuP{

}
.menuR{

}
.menuS{

}
/*Color Contenido*/
.contenidoA{
	
}
.contenidoAl{

}
.contenidoR{

}
.contenidoS{

}
.contenidoP{

}
.contenidoI{

}