.fontGhoti{
	font-family: 'Gloria Hallelujah', cursive;
}
.fonttitle{
	font-family: 'Spicy Rice', cursive;
}
.tableth{
	background-color: #E9D2CC;
	color:black;
}
.menu{
	background-color: ;
	border-radius: 16px;
}
.subir{
	margin-top: -25px;
}
.background{
	background: rgba(206,229,238,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(206,229,238,1) 0%, rgba(198,224,236,1) 0%, rgba(79,181,213,1) 87%, rgba(69,178,211,1) 94%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(206,229,238,1)), color-stop(0%, rgba(198,224,236,1)), color-stop(87%, rgba(79,181,213,1)), color-stop(94%, rgba(69,178,211,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(206,229,238,1) 0%, rgba(198,224,236,1) 0%, rgba(79,181,213,1) 87%, rgba(69,178,211,1) 94%);
	background: -o-radial-gradient(center, ellipse cover, rgba(206,229,238,1) 0%, rgba(198,224,236,1) 0%, rgba(79,181,213,1) 87%, rgba(69,178,211,1) 94%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(206,229,238,1) 0%, rgba(198,224,236,1) 0%, rgba(79,181,213,1) 87%, rgba(69,178,211,1) 94%);
	background: radial-gradient(ellipse at center, rgba(206,229,238,1) 0%, rgba(198,224,236,1) 0%, rgba(79,181,213,1) 87%, rgba(69,178,211,1) 94%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cee5ee', endColorstr='#45b2d3', GradientType=1 );
}
.botonanadir{
	border-radius: 200px 0px 200px 124px;
	-moz-border-radius: 200px 0px 200px 124px;
	-webkit-border-radius: 200px 0px 200px 124px;
	border: 0px solid #000000;
}
.botonejecutarfuncion{
	border-radius: 200px 0px 189px 0px;
	-moz-border-radius: 200px 0px 189px 0px;
	-webkit-border-radius: 200px 0px 189px 0px;
	border: 0px solid #000000;
}
.botonfunciones{
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	border: 0px solid #000000;
}