/*panel de control*/
.fontGhoti{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #1F1010;
	border-radius: 10px 200px 200px 0px;
	-moz-border-radius: 10px 200px 200px 0px;
	-webkit-border-radius: 10px 200px 200px 0px;
	border: 0px solid #000000;
}
/*Titulo SISCONOTAS*/
.fonttitle{
	font-family: 'Spicy Rice', cursive;
}
/*Tabla de resultados*/
.tableth{
	background-color: #E9D2CC;
	color:black;
}
/*Subir el banner*/
.subir{
	margin-top: -25px;
}
/*subir menu*/
.subir2{
	margin-top: -16px;
}
/*Fondo del sistema*/
.background{
	background: rgba(212,228,239,1);
	background: -moz-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(212,228,239,1)), color-stop(100%, rgba(134,174,204,1)));
	background: -webkit-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
	background: -o-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
	background: -ms-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
	background: linear-gradient(to right, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc', GradientType=1 );
}
/*Boton añadir*/
.botonanadir{
	border-radius: 200px 0px 200px 124px;
	-moz-border-radius: 200px 0px 200px 124px;
	-webkit-border-radius: 200px 0px 200px 124px;
	border: 0px solid #000000;
}
/*Boton ejecutar función*/
.botonejecutarfuncion{
	border-radius: 200px 0px 189px 0px;
	-moz-border-radius: 200px 0px 189px 0px;
	-webkit-border-radius: 200px 0px 189px 0px;
	border: 0px solid #000000;
}
/*Botones funciones*/
.botonfunciones{
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	border: 0px solid #000000;
}